


.gallery{
    margin: 50px 0px;
}

.gallery-heading h2{
    text-align:center;
    margin-bottom:50px;
}

.gallery-container{
    width: 100% !important;
    display:grid;
    /* grid-template-columns: repeat(2, 1fr) !important; */
    grid-template-columns: 70% 30%;
    /* gap:25px !important; */
}

.first-left{
    display:grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap:25px;
}

.first-right{
    display:grid;
    grid-template-rows: repeat(2, 1fr) !important;
    gap:25px;
}

.card{
    height: 580px;
    width:400px;
}  
.double-card{
    height: 280px;
    width:350px;
}  

.overlay{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.play-icon{
    font-size: 65px !important;
    color: rgb(255, 255, 255);
    background-color: #000;
    border: 12px solid black;
    border-radius: 50%;
    text-align: center !important;
}
.play-icon :hover{
    background-color: var(--secondary) !important;
    border-color: var(--secondary);
}

.titlee{
    color: white;
    background-color: #1A1A1D;
    padding: 12px 30px;
    text-align: center !important;
    border-radius: 15px !important;
}



.video-popup{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.video-content{
    width: 900px;
    max-width: 90%;
    aspect-ratio: 16/9;

    background: #000;

    position: relative;

    border-radius: 10px;
    overflow: hidden;
}

.video-content iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* .close-icon{
    position: absolute;
    top: -40px;
    right: 0;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    transition: .3s;
} */

.close-icon{
    position:absolute;
    top:15px;
    right:15px;
    color:#fff;
    font-size:32px;
    cursor:pointer;
    z-index:10;
}

.close-icon:hover{
    transform: rotate(90deg);
}
